.main-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
.child-container{
    border: 2px solid rgb(0, 0, 0);
    width: 80vw;
    background-color: white;
}

.heading{
    text-decoration: underline;
}

h1,h5,p{
    margin: 3%;
    color: black;
}