@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  /* border: 2px solid red; */
  background-color: rgb(10, 10, 11);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw 0 0vw;
  height: 11vh;
}
nav>input{
  width: 40vw;
  height: 6vh;
  padding-left: 3vw;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.main-logo{
  /* border: 2px solid red; */
  height: 60px;
  width: 260px;
}

.half-logo{
  /* border: 2px solid red; */
  position: relative;
  right: 9.4vw;
  bottom: 2px;
  font-size: 28px;
  color: rgb(239,57,54);
  font-weight: bolder;
}

.search-icon{
  height: 2vh;
  width: 15px;
  position: relative;
  left: 6.2vw;
  bottom: 2px;
}

nav>button{
  border: 3px solid black;
  width: 10vw;
  height: 5vh;
  color: red;
  font-size: 15px;
  border-radius: 10px;
}